.container{
  background-color: rgb(19, 42, 71);
  color: black;
  border-bottom: solid 1px whitesmoke;
  padding: 10px;
  margin: 0 auto;
}
.container .subcontainer{
  width: 1000px;
  margin: 0 auto;
}
.container .subcontainer div{
  display: inline-block;
  vertical-align: middle;
}
.logo a{
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 22px;
  width: 100px;
  margin-right: 10px;
}

.search{
  width: 500px;
}

.search input{
  width: calc(500px - 20px - 10px);
  padding: 10px;
  font-size: 16px;
}

.actions a{
  color: white;
  margin: auto 10px;
  text-decoration: none;
  border: 1px solid black;
  padding:10px 20px;
  background-color:rgba(65, 65, 148, 0.603);
  border-radius: 20px;
}

.actions ul, .actions ul li{
  margin: 0;
  list-style: none;
}
.actions ul li a{
  display: inline;
  padding: 10px;
}